.vs
/.vs
.vs/LTWeb_TBDT/DesignTimeBuild/.dtbcache.v2
.vs/LTWeb_TBDT/v17/.futdcache.v2
.vs/LTWeb_TBDT/v17/.suo
.vs/LTWeb_TBDT/v17/DocumentLayout.json
.vs/ProjectEvaluation/ltweb_tbdt.metadata.v9.bin
.vs/ProjectEvaluation/ltweb_tbdt.projects.v9.bin
.vs/ProjectEvaluation/ltweb_tbdt.strings.v9.bin
