@model IEnumerable<LTWeb_TBDT.Data.DanhMuc>



	@foreach (var danhMuc in Model)
			{
<div class="panel panel-default">
	<div class="panel-heading">
			<h4 class="panel-title"><a href="#">@danhMuc.TenDanhMuc</a></h4>
	</div>
</div>
}
