<style>
	.header-bottom .search_box,
	.header-bottom .fa-shopping-bag {
		display: inline-block; /* Đảm bảo các phần tử nằm cạnh nhau */
		vertical-align: middle; /* Căn giữa theo chiều dọc */
	}

	.header-bottom .fa-shopping-bag {
		font-size: 30px; /* Điều chỉnh kích thước icon */
	}

	.header-bottom .search_box input {
		height: 35px; /* Điều chỉnh chiều cao để đồng nhất với nút giỏ hàng */
	}
</style>
<header id="header">
	<!--header-->
		<!--header_top-->
		


	<div class="header-bottom">
		<!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a asp-controller="Home class="active">Home</a></li>
							<li class="dropdown">
								<a href="#">Shop<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a asp-controller="Category">Categories</a></li>
									<li><a asp-controller="Product" asp-action="Detail">Product Details</a></li>
									<li><a asp-controller="Cart" asp-action="Checkout">Checkout</a></li>
									<li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
									<li><a asp-controller="User" asp-action="Login">Login</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#">Blog<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a href="blog.html">Blog List</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
								</ul>
							</li>
							<li><a href="404.html">404</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>
					</div>
				</div>
			
				<div class="col-sm-2">
					<div class="search_box pull-right">
						<input type="text" placeholder="Search" />
					</div>
				</div>

				<div class="col-sm-1">
@* 					<a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-bag"></i> Đặt Hàng</a>
 *@
					<a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i></a>
				</div>
			</div>
		</div>
	</div><!--/header-bottom-->
</header><!--/header-->