   @model IEnumerable<LTWeb_TBDT.Data.NhaSanXuat>




<h2>Nhà sản xuât</h2>
<div class="brands-name">
	<ul class="nav nav-pills nav-stacked">


        @foreach (var nhaSanXuat in Model)
        {
            <li>
                <!-- Link tới trang sản phẩm của nhà sản xuất -->
                <a href="@Url.Action("Index", "Home", new { nhaSanXuatId = nhaSanXuat.MaNhaSanXuat })">
                    <span class="pull-right"></span>@nhaSanXuat.TenNhaSanXuat
                </a>
            </li>
        }
	</ul>
</div>