   @model IEnumerable<LTWeb_TBDT.Data.NhaSanXuat>




<h2>Nhà sản xuât</h2>
<div class="brands-name">
	<ul class="nav nav-pills nav-stacked">



		@foreach (var danhMuc in Model)
		{
			
			<li><a href="#"> <span class="pull-right"></span>@danhMuc.TenNhaSanXuat</a></li>

		}
	</ul>
</div>